@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "413 - Assignment 1";
}

<body>
    <img src="img/w.jpg" class="weddingpic" />
    <img src="img/J and R.jpg" class="twinpic" />
    <h5>Spending time with my wife, Hailey, and our two beautiful daughters, Jovi and Rayen.</h5><br />
    <h3>What I wish to learn from 413?</h3>
    <p>
        What I enjoy most about the Information Systems program is the technical skills we learn.
        Software development and database management were my favorite from last semester, and I
        look forward to learning new languages and concepts this semester with ASP.NET. I hope I
        learn how to be confident when asked to learn a new language quickly. I hear that that is
        a great skill to have going into industry. Always evolving and always learning.
    </p><br />
    <h3>Dream Jobs</h3>
    <ul>
        <li>Software Developer/Engineer</li>
        <li>Data Analyst/Engineer</li>
        <li>Consulting</li>
    </ul><br />
    <br /><br />
    <!--<p id="output"></p>-->
</body>
</html>